{% extends "base.tpl" %}

{% if current_user %}
{% set can_edit = current_user.is_authenticated() %}
{% endif %}

{% block header %}
{% if not can_edit and inventory_auto_refresh %}
<meta http-equiv="refresh" content="{{ inventory_auto_refresh }}">
{% endif %}

<link rel="stylesheet" href="/static/css/toastr.css" type="text/css" charset="utf-8">
<script src="/static/js/jquery.string.min.js"></script>
<script src="/static/js/inventory.js"></script>
<meta id='inventory-meta' 
      data-confirmation-checkin="{% if confirmation.checkin.confirm %}yes{% else %}no{% endif %}"
      data-can-edit="{% if can_edit %}yes{% else %}no{% endif %}"
      data-checkin-complete-msg="{% if confirmation.checkin.complete %}{{ confirmation.checkin.complete }}{% endif %}">
{% endblock %}

{% block top_banner %}
{# remove the menu #}
<form action="{{ url_for('inventory_view') }}" method="GET" id="group-form">
    <select id="group-list" name="group">
        <option value="">All</option>
        {% for group in groups %}
        <option value="{{ group.identifier }}" {% if group.identifier == group_id %}SELECTED{% endif %}>{{ group.name }}</option>
        {% endfor %}
    </select>
</form>
{% endblock %}

{% block content %}
<div id="inventory">
    <table id="items" class="table {% if not can_edit %}no-edit{% endif %}">
        <tbody>
        {% for item in items %}
            {% set checked_out = item.status == 2 %}
            {% set latest_log = item.get_latest_log() %}
            {% if latest_log %}
            {% set latest_person = latest_log.person %}
            {% endif %}

            <tr id="item-{{ item.id }}" 
                data-item-id="{{ item.id }}"
                data-checked-out="{% if checked_out %}yes{% else %}no{% endif %}"
                data-device-name="{{ item.name }}"
                data-person-id="{% if checked_out and latest_person %}{{ latest_person.id }}{% endif %}"
                data-person-name="{% if checked_out and latest_person %}{{ latest_person.name }}{% endif %}">
                <td>
                    <div class='item-data btn btn-block {% if checked_out %}btn-inverse{% endif %}'>
                        <div class="device-name row-component">
                            <strong>{{ item.name }}</strong>
                        </div>
                        
                        <div class="check-out-info {% if not checked_out %}hidden{% endif %}">
                            {# if format changed here, then change inventory.js template #}
                            <div class="name">{% if latest_log %}{{ latest_person.name }}{% endif %}</div>
                            <div class="duration">{% if latest_log %}{{ latest_log.get_date_added() }} - {{ latest_log.get_checkout_description() }}{% endif %}</div>
                        </div>
                        
                        {% if not can_edit %}
                        <div class="person row-component">
                            {% if not checked_out %}
                            <span class="label label-success">Available</span>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% else %}
            No {{ INVENTORY_ITEM_NAME_PLURAL.lower() }}.
        {% endfor %}
        </tbody>
    </table>
</div>

{% if can_edit %}
<!-- Checkout modal -->
<div id="co-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="co-modal-label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="co-modal-label">Modal header</h3>
  </div>
  <div class="modal-body">
      <select id="person-list">
          <option value="0">Available</option>
          {% for person in persons %}
          <option value="{{ person.id }}">{{ person.name }}</option>
          {% endfor %}
      </select>
      
      <div id="duration-info">
          <input type="number" name="duration" id="duration" />
          <select name="duration_type" id="duration-type">
              {% for dtype in duration_types %}
              <option value="{{ dtype.0 }}">{{ dtype.1 }}</option>
              {% endfor %}
          </select>
          <div id='ooo-wrap'>
              <label for="ooo">OOO</label><input type="checkbox" name="ooo" value="0" id="ooo" />
          </div>
      </div>
  </div>
  <div class="modal-footer">
    <button id="co-btn-checkout" class="btn btn-primary btn-large">Checkout</button>
    <button class="btn btn-large" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>
</div>
{% endif %}
{% endblock %}