{% extends "base.tpl" %}

{% block header %}
<script src="/static/js/jquery.string.min.js"></script>
<script src="/static/js/inventory.js"></script>
{% endblock %}

{% block top_banner %}
{# remove the menu #}
<form action="{{ url_for('inventory_view') }}" method="GET" id="group-form">
    <select id="group-list" name="group">
        <option value="">All</option>
        {% for group in groups %}
        <option value="{{ group.id }}" {% if group.id == group_id %}SELECTED{% endif %}>{{ group.name }}</option>
        {% endfor %}
    </select>
</form>
{% endblock %}

{% block content %}
<div id="inventory">
    {% set can_edit = user.is_authenticated() %}
    <div class="alert alert-info">
        Updated!
    </div>

    <table id="items">
    {% for item in items %}
        {% set checked_out = item.status == 2 %}
        {% set latest_person = item.get_latest_person() %}

        <tr id="item-{{ item.id }}">
            <td class="device-name">
                <strong>{{ item.name }}</strong>
            </td>
            <td class="person">
                {% if can_edit %}
                <select class="person-list" {% if checked_out %}DISABLED{% endif %}>
                    <option value="0">Available</option>
                {% for person in persons %}
                    {% set selected = '' %}
                    {% if checked_out %}
                        {# only if it is checked out do we grab the latest person #}
                        {% if latest_person.id == person.id %}{% set selected = 'SELECTED' %}{% endif %}
                    {% endif %}
                    <option value="{{ person.id }}" {{ selected }}>{{ person.name }}</option>
                {% endfor %}
                {% elif checked_out %}
                    {{ latest_person.name }}
                {% else %}
                    Available
                {% endif %}
                </select>
            </td>
            <td class="action">
                <input type="checkbox" class="checkbox" value="{{ item.id }}"
                    {% if not can_edit %}DISABLED{% endif %}
                    {% if checked_out %}CHECKED{% endif %}
                    />
            </td>
        </tr>
    {% else %}
        No inventory items.
    {% endfor %}
    </table>
</div>
{% endblock %}