/*
 * Standard Styles ***
 */
.clear {
    clear: both;
}
html body {
    margin: 8px;
    padding: 50px;
    font-size: 15px;
    color: black;
}
#content {
    margin: 0 auto;
}
.error {
    color: #800000;
}
a {
    text-decoration: none;
}
a:link {
    color: #5372ce;
}
a:link.btn-info {
    color: white;
}
a.clear-btn {
    position: relative;
    top: 2px;
}
label {
    width: auto;
}

/*top banner styles*/
#top-banner {
    height: 50px;
    margin: -8px -8px 7px;
    box-shadow: 5px 2px 5px #777;
}
#top-banner #banner-text {
    position: relative;
    top: 15px;
    left: 20px;
    color: silver;
    font-size: 20px;
    text-shadow: 0 0 silver, -2px 0 black;
}
#top-banner #menu {
    float: right;
    position: relative;
    right: 100px;
    top: 9px;
}

/* inventory styles */
#inventory {
    font-size: 18px;
}
#inventory #items {
    margin: 0 auto;
    width: 700px;
    font-size: 30px;
}
#inventory table td {
    line-height: 30px;
    border: none;
}
.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
    background-color: #f2f2f2;
}
#inventory .person {
    text-align: center;
}
#inventory select {
    height: 40px;
}
#inventory .checkbox {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.alert {
    display: none;
    position: absolute;
    z-index: 7;
    opacity: 0.9;
}
#group-form {
    margin: 0 auto;
    width: 300px;
    position: relative;
    top: -9px;
}