/*
 * Standard Styles ***
 */
.clear {
    clear: both;
}
html body {
    margin: 8px;
    padding: 50px 20px 10px 20px;
    font-size: 15px;
    color: black;
    font-family: "Helvetica Neue";
}
#content {
    margin: 0 auto;
}
.error {
    color: #800000;
}
a {
    text-decoration: none;
}
a:link {
    color: #5372ce;
}
a:link.btn-info {
    color: white;
}
a.clear-btn {
    position: relative;
    top: 2px;
}
label {
    width: auto;
}
.mobile select {
    font-weight: bold;
    font-family: Helvetica;
}

/*
 * Top Banner styles ***
 */
#top-banner {
}
.mobile #top-banner {
}
#top-banner #banner-text .brand {
    font-size: 20px;
    margin-left: 10px;
    color: silver;
}
.mobile #top-banner #banner-text .brand {
}
#top-banner #menu {
    float: right;
}
#top-banner #group-list {
    margin: 10px 5px 10px;
}
.mobile #top-banner #group-list {
    width: 70%;
    font-size: 24px;
    height: 50px;
    margin: 3px;
}

/*
 * Inventory styles ***
 */
#inventory {
    font-size: 18px;
}
#inventory #items {
    margin: 0 auto;
    width: 900px;
}
#inventory table td {
    border: none;
    vertical-align: inherit;
    padding: 4px;
}
#inventory #items .btn-inverse {
    color: #888;
    box-shadow: none;
}
.mobile #inventory table td {
    line-height: 60px;
}
.table tbody tr:nth-child(odd) td .btn {
/*    background-image: -webkit-linear-gradient(top, #009BEB, #004FED);*/
}
#inventory .person {
    text-align: center;
    float: right;
}
#inventory .device-name {
    font-size: 30px;
    float: left;
    margin: 14px 10px;
    width: 70%;
    text-align: left;
}
.mobile #inventory .device-name {
    margin-top: 12px;
}
#inventory .item-data {
    height: 60px;
}
#inventory .label {
    font-size: 20px;
    line-height: inherit;
}
#group-form {
    margin: 0;
}
.check-out-info {
    margin: 5px;
}
.check-out-info .name {
    font-size: 16px;
    font-weight: bold;
    color: white;
}
.check-out-info .duration {
}
#items .person .label {
    margin: 14px;
}
.no-edit .btn {
    cursor: default;
}

/*
 * Checkout Modal styles ***
 */
.modal-body #duration-info {
    margin: 0 auto;
    margin-top: 20px;
    width: 400px;
}
.modal-body #duration-info #ooo-wrap {
    display: inline;
    padding: 5px;
}
.modal-body #duration-info label {
    display: inline;
    font-size: 20px;
}
.modal-body #duration-type {
    width: 200px;
}
.modal-body select {
    height: 50px;
    font-size: 20px;
}
.mobile .modal-body #ooo {
    width: 40px;
    height: 40px;
    position: relative;
    top: 12px;
    margin-left: 5px;
}
.modal-body #person-list {
    margin: 0 auto;
    width: 100%;
}
.modal-body #duration {
    width: 70px;
    font-size: 40px;
    height: 40px;
    font-weight: bold;
}
 /*
 speed up the fade
 .modal.fade{
     -webkit-transition: opacity .1s linear, none;
     -moz-transition: opacity .1s linear, none;
     -ms-transition: opacity .1s linear, none;
     -o-transition: opacity .1s linear, none;
     transition: opacity .1s linear, none;
 }
 */
.modal.fade {
   top: 100%;
   -webkit-transition: opacity 0.3s linear, top 0.1s ease-out;
/*      -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
        -o-transition: opacity 0.3s linear, top 0.3s ease-out;
*/           
    transition: opacity 0.3s linear, top 0.1s ease-out;
 }
.modal.fade.in {
   top: 30%;
}